@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-inter), "Inter", "Avenir", "Helvetica", "Arial", sans-serif;

  --color-bg: oklch(0.1867 0 0);
  --color-fg: oklch(0.9189 0 0);
  --color-primary: oklch(0.7746 0.0622 217.469);
  --color-accent: oklch(0.6965 0.0591 248.6872);
  --color-muted: oklch(0.5693 0 0);
  --color-border: oklch(0.3677 0 0);
  --color-surface: oklch(0.245 0 197.03);
}
